body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  background-color: black;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh; /* Ensure it covers the full viewport height */
  overflow: hidden; /* Ensure no extra space */
}

img {
  width: 100%;
  height: 100vh; /* Ensure the image covers the full height of the container */
  object-fit: cover; /* Ensure the image covers the container */
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity */
  display: flex;
  align-items: center;
}

.message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  position: absolute;
  top: 30%;
  max-width: 85vw;
  font-size: 4rem;
  font-weight: 200;
  text-shadow: 1px 1px 15px rgb(0, 0, 0);
  text-align: center;
}

h1.message {
  max-width: 85vw;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  text-align: left;
}

.content {
  width: 100vw;
  min-height: 25rem;
  background-color: #f9f1e6;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0; /* Add padding to avoid content touching the edges */
}

.card-organizer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 40px; /* Space between the grid items */
  padding: 20px;
  width: 100%; /* Ensure the grid takes the full width of its container */
  max-width: 70vw; /* Adjust this value to control the width on larger screens */
  margin: 0 auto; /* Center the grid horizontally */
  grid-auto-flow: dense; /* Automatically fill in rows without leaving gaps */
}

.info-card-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .card-organizer {
    display: flex;
    flex-direction: column; /* Stack the cards vertically */
    align-items: center; /* Center the cards horizontally */
    gap: 20px;
    padding: 20px;
    max-width: 90%; /* Adjust for mobile responsiveness */
  }

  .info-card-container {
    width: 100%; /* Make each card take up the full width */
  }
}
